$color-white: #fff;
$color-lightgrey: #999;
$color-medgrey: #666;
$color-text: #444;
$color-text-white: #f5f5f5;

$color-primary: #3c7fb3;

$bgcolor-page: #f5f5f5;
$bgcolor-code: #eee;
$bgcolor-button: #e5e5e5;

$color-border: #ccc;

$shadow-browser-mockup: rgba(0, 0, 0, 0.1);
